<!DOCTYPE html>
<html>
    
    <head>
        <%- include("../fragmente/head.ejs") %>
        <link href = "/resurse/stylesheets/403.css" rel = "stylesheet" type = "text/css">
    </head>
    <body>
        <header>
            <%- include("../fragmente/header.ejs") %>
        </header>
        <main>
            <br>
            <h1> 403. Forbidden access. </h1>
            <figure>
                <img src = "/resurse/layout-images/403.jpg">
                <figcaption> ... While you can </figcaption>
            </figure>
        </main>
        <footer>
            <%- include("../fragmente/footer.ejs") %>
        </footer>
    </body>
</html>