<!DOCTYPE html>
<html>
    
    <head>
        <%- include("../fragmente/head.ejs") %>
        <link href = "/resurse/stylesheets/404.css" rel = "stylesheet" type = "text/css">
    </head>
    <body>
        <header>
            <%- include("../fragmente/header.ejs") %>
        </header>
        <main>
            <br>
            <h1> 404 </h1>
            <figure>
                <img src = "/resurse/layout-images/404.png">
                <figcaption> These are the missing pages. If you find one, please call us </figcaption>
            </figure>
        </main>
        <footer>
            <%- include("../fragmente/footer.ejs") %>
        </footer>
    </body>
</html>