<header>
    <img class = "imagine-logo" src = "/resurse/layout-images/fnaf.png" alt = "aici ar fi trebuit sa fie o imagine">
    <!-- Bara de meniu -->
    
</header>
<nav>

    <!-- Linkurile din navbar -->
    
    <label id = "hamburger" for = "ch-menu">
        <img src = "/resurse/layout-images/Hamburger_icon_alb.png" alt = "imagine-meniu">
    </label>
    <input id = "ch-menu" type = "checkbox">
    <ul class = "meniu">
        <li>
            <a class = "optiune-acasa" href = "/home">
                <i class = "fa-solid fa-house"></i>
                <p class = "text-acasa"> Acasa </p>
            </a>
            <ul>
                <li> <a href = "/index#salut"> Salut </a> </li>
                <li> <a href = "/index#orar"> Orar </a> </li>
                <li> <a href = "/index#promotii"> Promotii </a></li>
            </ul>
        </li>
        <li>
            <a href = "produse"> Produse </a>
            <ul>
                <li> <a href = "/produse#papusi"> Papusi </a> </li>
                <li> <a href = "/produse#masini"> Masini si roboti </a> </li>
                <li> <a href = "/produse#plus"> Animale de plus </a> </li>
                <li> <a href = "/produse#jocuri-societate"> Jocuri societate </a> </li>
                <li> <a href = "/produse#altele"> Altele </a> </li>
            </ul>
        </li>
        <li class = "link-right"> <a href = "cart.html"> Cos </a> </li>
        <li class = "link-right"> <a href = "loginregister.html"> Conectare </a> </li>
    </ul>

</nav>

<div id = "sageata-sus">
    <a href = "#"> &#5123; </a>
</div>