

<div class = "clasa-tabel">
    <table class = "tabel">
        <caption> Program  de lucru </caption>
        <thead>
            <tr>
                <th colspan = "8" class = "rand-luna"> Aprilie </th>
            </tr>
            <tr class = "rand-zile">
                <td> Ora </td>
                <th> Luni </th>
                <th> Marti </th>
                <th> Miercuri </th>
                <th> Joi </th>
                <th> Vineri </th>
                <th> Sambata </th>
                <th> Duminica</th>
            </tr>
        </thead>

        <tbody>
            <tr class = "rand-1">
                <th> 10:00-13:00 </th>
                <td> Deschis </td>
                <td> Deschis </td>
                <td> Deschis </td>
                <td> Deschis </td>
                <td> Deschis </td>
                <td> Inchis </td>
                <td> Inchis </td>
            </tr>
            <tr class = "rand-2">
                <th> 13:00-14:00 </th>
                <td colspan = "5"> Pauza de masa </td>
                <td colspan = "2"> Inchis </td>
            </tr>
            <tr class = "rand-3">
                <th> 14:00-18:00 </th>
                <td> Deschis </td>
                <td> Deschis </td>
                <td> Deschis </td>
                <td> Deschis </td>
                <td> Deschis </td>
                <td> Deschis </td>
                <td> Deschis </td>
            </tr>
            <tr class = "rand-4">
                <th> 18:00-20:00 </th>
                <td> Inchis </td>
                <td> Inchis </td>
                <td title = "Cu exceptia livrarilor"> Inchis* </td>
                <td title = "Cu exceptia livrarilor"> Inchis* </td>
                <td> Inchis </td>
                <td> Deschis </td>
                <td> Deschis </td>
            </tr>
        </tbody>
        <tfoot>

        </tfoot>
    </table>
    <p> Inchis* : Magazinul este deschis strict pentru livrari </p>
</div>