

figcaption {
  position: relative;
}

.licenta {
  margin: 0;
  font-size: 1rem;
  position:absolute;
  bottom:0;
}

.licenta a {
  color: violet;
  text-decoration: none;
}

h1 {
  text-align: center;
}

body {
    counter-reset: nrimagine 0;
}

figure {
    counter-increment: nrimagine;
}

figure {
  margin-left: 7px !important;
  margin-right: 7px !important;
}

figure:hover picture {
  filter: contrast(200%);
  transition: 1.1s linear;
}

#galerie-statica img {
  width: 100%;
}

#galerie-statica figure {
  margin: 0;
  height: fit-content;
}

#galerie-statica figcaption::before {
  content: counter(nrimagine, lower-greek)". ";
}


@media only screen and (min-width: 550px) and (max-width: 999px) {
  #galerie-statica {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10%;
      row-gap: 20px;
  }
  figcaption {
    text-align: center;
    font-size: 1.25rem;
    height: 100px;
  }
  figure:hover figcaption {
    font-size: 1.65rem;
    transition: 1.1s linear;
  }
}

@media only screen and (max-width: 549px) {
  #galerie-statica {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 10px;
  }
  figcaption {
    text-align: center;
    font-size: 1.10rem;
    height: 70px;
  }
  figure:hover figcaption {
    font-size: 1.35rem;
    transition: 1.1s linear;
  }
}


@media only screen and (min-width: 1000px) {
  #galerie-statica {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* echivalent la 1fr 1fr 1fr */
        column-gap: 5%;
        row-gap: 30px;
    }
    figcaption {
      text-align: center;
      font-size: 1.5rem;
      height: 100px;
    }
    
    figure:hover figcaption {
      font-size: 2rem;
      transition: 1.1s linear;
    }

    #galerie-statica > figure:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
      }
      
      #galerie-statica > figure:nth-child(2) {
        grid-area: 1 / 3 / 2 / 4;
      }
      
      #galerie-statica > figure:nth-child(3) {
        grid-area: 2 / 2 / 3 / 3;
      }
      
      #galerie-statica > figure:nth-child(4) {
        grid-area: 3 / 1 / 4 / 2;
      }
      
      #galerie-statica > figure:nth-child(5) {
        grid-area: 3 / 3 / 4 / 4;
      }
      
      #galerie-statica > figure:nth-child(6) {
        grid-area: 4 / 2 / 5 / 3;
      }
      
      #galerie-statica > figure:nth-child(7) {
        grid-area: 5 / 1 / 6 / 2;
      }
      
      #galerie-statica > figure:nth-child(8) {
        grid-area: 5 / 3 / 6 / 4;
      }
      
      #galerie-statica > figure:nth-child(9) {
        grid-area: 6 / 2 / 7 / 3;
      }
      
      #galerie-statica > figure:nth-child(10) {
        grid-area: 7 / 1 / 8 / 2;
      }
      
      #galerie-statica > figure:nth-child(11) {
        grid-area: 7 / 3 / 8 / 4;
      }
      
      #galerie-statica > figure:nth-child(12) {
        grid-area: 8 / 2 / 9 / 3;
      }
      
      #galerie-statica > figure:nth-child(13) {
        grid-area: 9 / 1 / 10 / 2;
      }
      
      #galerie-statica > figure:nth-child(14) {
        grid-area: 9 / 3 / 10 / 4;
      }
      
      #galerie-statica > figure:nth-child(15) {
        grid-area: 10 / 2 / 11 / 3;
      }
      
      #galerie-statica > figure:nth-child(16) {
        grid-area: 11 / 1 / 12 / 2;
      }
      
      #galerie-statica > figure:nth-child(17) {
        grid-area: 11 / 3 / 12 / 4;
      }
      
      #galerie-statica > figure:nth-child(18) {
        grid-area: 12 / 2 / 13 / 3;
      }
      
      #galerie-statica > figure:nth-child(19) {
        grid-area: 13 / 1 / 14 / 2;
      }
      
      #galerie-statica > figure:nth-child(20) {
        grid-area: 13 / 3 / 14 / 4;
      }
      
      #galerie-statica > figure:nth-child(21) {
        grid-area: 14 / 2 / 15 / 3;
      }
      
      #galerie-statica > figure:nth-child(22) {
        grid-area: 15 / 1 / 16 / 2;
      }
      
      #galerie-statica > figure:nth-child(23) {
        grid-area: 15 / 3 / 16 / 4;
      }
      
      #galerie-statica > figure:nth-child(24) {
        grid-area: 16 / 2 / 17 / 3;
      }
      
      #galerie-statica > figure:nth-child(25) {
        grid-area: 17 / 1 / 18 / 2;
      }
      
      #galerie-statica > figure:nth-child(26) {
        grid-area: 17 / 3 / 18 / 4;
      }
      
      #galerie-statica > figure:nth-child(27) {
        grid-area: 18 / 2 / 19 / 3;
      }
      
      #galerie-statica > figure:nth-child(28) {
        grid-area: 19 / 1 / 20 / 2;
      }
      
      #galerie-statica > figure:nth-child(29) {
        grid-area: 19 / 3 / 20 / 4;
      }
      
      #galerie-statica > figure:nth-child(30) {
        grid-area: 20 / 2 / 21 / 3;
      }
      
      #galerie-statica > figure:nth-child(31) {
        grid-area: 21 / 1 / 22 / 2;
      }
      
      #galerie-statica > figure:nth-child(32) {
        grid-area: 21 / 3 / 22 / 4;
      }
      
      #galerie-statica > figure:nth-child(33) {
        grid-area: 22 / 2 / 23 / 3;
      }
      
      #galerie-statica > figure:nth-child(34) {
        grid-area: 23 / 1 / 24 / 2;
      }
      
      #galerie-statica > figure:nth-child(35) {
        grid-area: 23 / 3 / 24 / 4;
      }
      
      #galerie-statica > figure:nth-child(36) {
        grid-area: 24 / 2 / 25 / 3;
      }
      
      #galerie-statica > figure:nth-child(37) {
        grid-area: 25 / 1 / 26 / 2;
      }
      
      #galerie-statica > figure:nth-child(38) {
        grid-area: 25 / 3 / 26 / 4;
      }
      
      #galerie-statica > figure:nth-child(39) {
        grid-area: 26 / 2 / 27 / 3;
      }
      
      #galerie-statica > figure:nth-child(40) {
        grid-area: 27 / 1 / 28 / 2;
      }
      
      #galerie-statica > figure:nth-child(41) {
        grid-area: 27 / 3 / 28 / 4;
      }
      
      #galerie-statica > figure:nth-child(42) {
        grid-area: 28 / 2 / 29 / 3;
      }
      
      #galerie-statica > figure:nth-child(43) {
        grid-area: 29 / 1 / 30 / 2;
      }
      
      #galerie-statica > figure:nth-child(44) {
        grid-area: 29 / 3 / 30 / 4;
      }
      
      #galerie-statica > figure:nth-child(45) {
        grid-area: 30 / 2 / 31 / 3;
      }
      
      #galerie-statica > figure:nth-child(46) {
        grid-area: 31 / 1 / 32 / 2;
      }
      
      #galerie-statica > figure:nth-child(47) {
        grid-area: 31 / 3 / 32 / 4;
      }
      
      #galerie-statica > figure:nth-child(48) {
        grid-area: 32 / 2 / 33 / 3;
      }
      
      #galerie-statica > figure:nth-child(49) {
        grid-area: 33 / 1 / 34 / 2;
      }
      
      #galerie-statica > figure:nth-child(50) {
        grid-area: 33 / 3 / 34 / 4;
      }
}

/*
Cod sketchy:
https://codepen.io/piccalilli/pen/MPLzay
*/

.sketchy {
  border: 7px solid #333333;
  border-radius: 2% 6% 5% 4%/1% 1% 2% 4%;
  background: #ffffff;
  position: relative;
}
.sketchy::before {
  content: "";
  border: 5px solid #353535;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 1% 1% 2% 4%/2% 6% 5% 4%;
}

