body {
    padding: 0;
    border: 0;
    min-height: fit-content;
}

header {
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 0 !important;
    padding: 0;
}

main {
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    min-height: 800px;
}


.imagine-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    aspect-ratio: 7/1;
}



section {
    border: 1px solid palevioletred;
    padding: 0;
    max-width: 100%;
}

#container {
    max-width: 100%;
    display: grid;
}

@media only screen and (max-width: 549px) {
    #container {
        grid-template-areas:
                            "prezentare"
                            "calendar"
                            "promotii"
                            "continut"
                            "tabel-idk"
                            "date-server-site"
                            "utilizatori-online"
                            "date-utilizator-statistici";
    }
    #tabel-idk {
        max-width: 100%;
    }
}

@media only screen and (min-width: 550px) and (max-width: 999px) {
    #container {
        grid-template-areas:
                            "prezentare prezentare"
                            "calendar promotii"
                            "continut continut"
                            "tabel-idk tabel-idk"
                            "date-server-site date-server-site"
                            "utilizatori-online date-utilizator-statistici";
    }
}

@media only screen and (min-width: 1000px) {
    #container {
        grid-template-areas: 
                        "prezentare prezentare prezentare"
                        "calendar tabel-idk promotii"
                        "continut continut continut"
                        "date-server-site utilizatori-online date-utilizator-statistici";
    }
}

#tabel-idk { 
    grid-area: tabel-idk;
    min-height: 500px;
}

#prezentare {
    grid-area: prezentare;
}

#calendar {
    grid-area: calendar;
}

#promotii {
    grid-area: promotii;
}

#continut {
    grid-area: continut;
    height: 2000px;
}


#date-server-site {
    grid-area: date-server-site;
}


#utilizatori-online {
    grid-area: utilizatori-online;
}

#date-utilizatori-statistici {
    grid-area: date-utilizator-statistici;
}
